body{
}
.grzx-section{
	width: 1200px;
	/*height: 100px;*/
	background: white !important;
	margin: auto;
	margin-top: 50px;
}

/*顶部区域*/
.g-top{
	height: 80px;
}
.g-top>ul{
	list-style: none;
}
.g-top>ul>li{
	box-sizing: border-box;
	border-top: 5px solid transparent;
	width: 25%;
	height: 80px;
	line-height: 80px;
	float: left;
	color: black;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	background: #ccc;
}

.g-top>ul>li.xianshi{
	border-top: 5px solid seagreen;
	background: white;
	color: sandybrown;
}


/*具体盒子*/
.g-body{
	position: relative;

}
.g-body>div{
	background: white !important;
	display: none;
	min-height: 500px;
}
/*----------个人资料-----*/
.g-body>div.ziliao{
	box-sizing: border-box;
	padding-left: 50px;
	display: block;
}
.ziliaobox>div{
	margin-top: 10px;
	height: 50px;
}
.ziliaobox>div>span{
	float: left;
	width: 100px;
	height: 50px;
	line-height: 50px;
}
.ziliaobox>div>input[type=text]{
	/*outline: none;*/
	/*border: none;*/
	height: 20px;
	line-height: 50px;
	width: 300px;
	margin: 15px 0 0 15px;
}
.ziliaobox>div>input[type=radio]{
	margin-left: 10px;
	margin-top: 20px;
}
/*文本域*/
.ziliaobox textarea{
	width: 300px;
	height: 100px;
	margin-top: 20px;
	margin-left: 15px;
}
.ziliaobox button{
	
	padding: 8px;
}
/*--------------密码设置------------------*/
.mima{
	box-sizing: border-box;
	padding: 20px;
}
.mima>div{
	height: 50px;
}
.mima>div>span{
	display: inline-block;
	width: 105px;
}
.mima>div>input{
	height: 20px;
}



