*{
	padding: 0px;
	margin: 0px;
}

html,body{
	width: 100%;
	background: #f1f5f8;
	font-family: "微软雅黑";
}
.header{
	width: 100%;
	height: 75px;
	/*background: rgb(200,200,169);*/
	/*rgb(82,38,74)*/
	/*rgb(200,200,169)*/ 
	background:#999933 url(../img/tiaowen.png) ;
	/*background:#CC9999;*/
}

.header>div{
	width: 1200px;
	height: 100%;
	margin:auto;
}
.header>div>div{
	display: inline-block;
}
/*-------------------logo部分----------------------------*/
.header-left{
	width: 80px;
	height: 100%;
	background: red;
	background: url(../img/logo.png) no-repeat center;
	float: left;
}

/*---------------------------------------登陆部分*/
.header-right{
	float: right;
}
/*未登录显示的ul*/
.header-right ul.weidenglu{
	list-style: none;
	/*display: none;*/
}
.header-right ul li{
	float: left;
	width: 70px;
	height: 75px;
	position: relative;
	
}

.header-right ul.weidenglu li>a{
	position: absolute;
	left: 0px;
	top: 0px;
	text-decoration: none;
	width: 100%;
	height: 100%;
	line-height: 75px;
	text-align: center;
	color: #e8e8e8;
}
/*--------------阴影*/
.header-yingying{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 0px;
	background: rgba(0,0,0,0.2);
	transition: all 0.3s ease 0s;
	opacity: 0;
	filter: alpha(opacity=0);
}
.header-right ul.weidenglu li:hover a{
	color: white;
	/*color: #FF4200;*/
	/*color: black;*/
}
.header-right ul.weidenglu li:hover .header-yingying {
	opacity: 1;
	filter: alpha(opacity=100);
	display: block;
	height: 100%;
}
/*----已经登陆后显示的ul*/
.header-right ul.yidenglu{
	list-style: none;
	display: none;
	/*display: block;*/
}
.header-right ul.yidenglu li{
	float: left;
	width: 70px;
	height: 75px;
	line-height: 75px;
	position: relative;
	text-align: center;
	line-height: 75px;


}
/*个人中心*/
.header-right ul.yidenglu li.grzx>a{
	width: 32px;
	height: 32px;
/*	border-radius: 50%;*/
	margin-top: 23px;
	display: inline-block;
	background: url(../img/grzx.png) no-repeat center;
	background-size: 70%;
    transition: all 0.5s ease 0s;
    /*border: 1px solid white;*/
    
}
.header-right ul.yidenglu li.grzx>a:hover{
	transform: scale(1.4);
}
/*头像*/
.header-right ul.yidenglu li.touxiang{
	margin-left: 7px;
}
.header-right ul.yidenglu li.touxiang>div{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 3px solid #ccc;
	margin: auto;
	margin-top: 7px;
	transition: all 1s ease 0s;
	overflow: hidden;
}
.header-right ul.yidenglu li.touxiang>div>img{
	width: 100%;
	height: 100%;
}

.header-right ul.yidenglu li.touxiang>div:hover{
	border: 3px solid sienna;
}

/*权限使用*/
.header-right ul.yidenglu li.qxsy>a{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin-top: 23px;
	display: inline-block;
	background: url(../img/quanxian.png) no-repeat center;
	background-size: 70%;
    transition: all 0.5s ease 0s;
    border: 1px solid white;
    
}
.header-right ul.yidenglu li.qxsy>a:hover{
	transform: scale(1.4);
}


/*----------------------搜索框部分------------------------------*/

.header-center{
	width: 350px;
	height: 100%;
	float: right;
	/*background: red;*/
}
.header-center>.sousuobox{
	display: inline-block;
	width: 305px;
	height: 35px;
	margin-top: 22px;
	overflow: hidden;
	float: left;
	/*display: none;*/
	opacity: 0;
}
.header-center>div>.sousuobox-i{
	width: 32px;
	height: 100%;
	float: left;
	background: white url(../img/sousuo.png) no-repeat center;
	cursor: pointer;
}

.header-center>div>.sousuobox-input{
	box-sizing: border-box;
	outline: none;
	border: none;
	width: 263px;
	float: left;
	height: 35px;
	color: #b4b4b4;
	padding-left: 7px;
	font-size: 17px;
}
/*搜索框点击按钮*/
.header-center>span{
	transition: transform 0.3s ease 0s;
	display: inline-block;
	width: 32px;
	height: 35px;
	background:#999933 url(../img/sousuo2.png) no-repeat center;
	background-size: 80%;
	margin-top: 22px;
	cursor: pointer;
	float: right;	
    
}
.header-center>span:hover{
	transform: scale(1.2);
}

/*----------------多余部分------------------------------------*/
.header-duoyu{
	float: left;
}
.header-duoyu ul li{
	float: left;
	width: 70px;
	height: 75px;
	position: relative;
	list-style: none;
	
}

.header-duoyu ul li>a{
	position: absolute;
	left: 0px;
	top: 0px;
	text-decoration: none;
	width: 100%;
	height: 100%;
	line-height: 75px;
	text-align: center;
	color: #e8e8e8;
	font-size: 20px;
	
}

.header-duoyu ul li:hover a{
	color: white;
	/*color: #FF4200;*/
	/*color: black;*/
	
}
.header-duoyu ul li:hover .header-yingying {
	opacity: 1;
	filter: alpha(opacity=100);
	display: block;
	height: 100%;
}





