
html,body{
	width: 100%;
	height: 100%;
}



.section{		
    width: 100%;
    /*height: 800px;*/
    /*height: 70%;*/
    background:rgba(204,204,153,0.5) url(../img/bg/login.png) no-repeat;
	background-size: 50%;
	position: relative;
}
#loginbox{
	width: 570px;
	height: 250px;
	position: absolute;
	right: 100px;
	top: 100px;
	/*background: red;*/
}
/*填入部分样式*/
#loginbox>div.tianru{
	height: 45px;
	margin-top: 15px;
	
	/*background: red;*/
}
#loginbox>div.tianru>div{
	float: left;
	width: 255px;
	height: 45px;
	
}

/*填入部分左边盒子*/
#loginbox>div.tianru>div.left{
    border: 1px solid #ccc;
}
/*图标*/
#loginbox>div.tianru>div.left>span{
	 float: left;
	 width: 45px;
	 height: 45px;
	 /*background: red;*/
}

.name>div>span{
	background:white url(../img/small/name.png) no-repeat center;
}
.password>div>span{
	background:white url(../img/small/pass.png) no-repeat center;
}

.passagin>div>span{
	background:white url(../img/small/pass.png) no-repeat center;
}



#loginbox>div.tianru>div.left>input{
	outline: none;
	border: none;
	float: left;
	width: 210px;
	height: 45px;
	box-sizing: border-box;
	padding-left: 10px;
	font-size: 14px;
}
/*填入部分右边盒子*/
#loginbox>.tianru>.right{
	width: 300px;
	height: 45px;
	/*float: left;*/
	line-height: 45px;
	font-size: 12px;
	margin-left: 10px;
	
}
#loginbox>.tianru>.right>p{
	display: none;
	padding-left: 17px;
	box-sizing: border-box;
	color: #333;
}
#loginbox>.tianru>.right>p.normal{
	display: block;
}
#loginbox>.tianru>.right>p.right{
	/*display: block;*/
	background: url(../img/small/right.png) no-repeat left center;
	background-size: 17px 17px;
}
#loginbox>.tianru>.right>p.err{
	/*display: block;*/
	background: url(../img/small/err.png) no-repeat left center;
	background-size: 15px 15px;
}
#loginbox>.tianru>.right>p.err2{
	/*display: block;*/
	background: url(../img/small/err.png) no-repeat left center;
	background-size: 15px 15px;
}


/*选择身份框*/
.choose{
	width: 255px;
	height: 45px;
	background: white;
	border: 1px solid #ccc;
}
.choose>strong{
	display: inline-block;
	width: 45px;
	height: 45px;
	user-select:none;
	text-align: center;
	background: #f55d54;
	color: white;
	
}
.choose>select{
	outline: none;
	float:right;
	width: 210px;
	height: 45px;
	border: none;
	text-align: center;
}

/*点击按钮*/
.bt{
	border: 1px solid #ccc;
	width: 255px;
	height: 45px;
	background: white;
	background:#f55d54 ;
	color: white;
	text-align: center;
	line-height: 45px;
	user-select:none;
	cursor: pointer;
	margin-top: 15px;
}
